.projNav {
    margin: 5px 0 5px 0;
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: 900;

    .project {
        width: 90%;
        float: right;
        transition: all 0.3s;
    }

    :hover {
        background-color: #EBFF00;
    }
}



